/*_variables.scss*/

$primary: #F79F90;
$light-grey: #D3D3D3;
$lighter-grey: #F5F5F5;
$lightest-grey: #EAE8E8;
$blue: #2F2E7E;
$cobalt: #030753;
$white: #FFF;

$font-default: 'Sailec-Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-default-md: 'Sailec-Medium', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-default-b: 'Sailec-Bold', Helvetica Neue, Helvetica, Arial, sans-serif;
